<footer class="bg-black py-10">
    <div class="container">
        <a href="#" class="back-top position-fixed <%- current === 'blog content' ? ' ': 'd-none' %>" data-aos="fade-up"
        data-aos-delay="50"
        data-aos-duration="500"
        data-aos-anchor="#js-show-backTop-btn">
            <span class="material-icons-outlined">
                expand_less
            </span>
        </a>
        <h4 class="text-center text-md-start text-white fs-6 fw-md mb-10">JUN CHENG</h4>
        <div class="row justify-content-center justify-content-md-start text-center text-md-start">
            <ul class="col-md-3 offset-md-9 mb-10">
                <li class="mb-5"><a href="index.html" class="link-white fs-9">Home</a></li>
                <li class="mb-5"><a href="about.html" class="link-white fs-9">About</a></li>
                <li class="mb-5"><a href="https://www.instagram.com/junlearning/" class="link-white fs-9">Instagram</a></li>
            </ul>

            <div class="text-center text-white">
                <ul class="d-flex justify-content-center gap-3 mb-2 fs-9">
                    <li><a href="copyright.html" class="link-white">著作權聲明</a></li>|
                    <li><a href="disclaimer.html" class="link-white">免責聲明</a></li>|
                    <li><a href="privacy.html" class="link-white">隱私權政策</a></li>
                </ul>
                <p class="fs-9">Copyright © 2021 Jun Cheng All Rights Reserved.</p>
            </div>
        </div>
      
    </div>

</footer>

