<div class="bg-light px-4 py-2">
    <div class="d-flex justify-content-between align-items-center">
        <h1>
            <a href="#" class="d-flex align-items-center logo-title">
                <img src="./assets/images/logo.png" alt="logo img" style="height: 28px;">
            <p class="text-black fw-light ms-2">Jun Cheng</p>
        </a>
    </h1>
        <div class="d-flex h-100">
            <div class="position-relative">
                <input type="text" class="search-input | border-secondary border-1 bg-white pd-none py-1 px-2 me-2" name="search" placeholder="請輸入關鍵字">
                <span class="material-icons-outlined text-primary position-absolute top-50 end-0 translate-middle">
                    search
                    </span>
            </div>
            <a href="#" class="btn btn-outline-primary">Follow</a>
        </div>
    </div>
</div>