<div class="bg-light py-5 py-md-2 position-fixed top-0 w-100" style="z-index: 1200;">
    <div class="container">
    <div class="d-flex justify-content-center justify-content-md-between align-items-center gap-3">
        <h1 class="">
            <a href="index.html" class="d-flex align-items-center logo-title">
                <img src="./assets/images/logo.png" alt="logo img" style="height: 28px;">
            <p class="text-black fw-light ms-2 text-nowrap">Jun Cheng</p>
        </a>
        </h1>
        <div class="d-flex h-100 w-70 w-md-auto">
            <div class="position-relative me-1 me-md-3 w-50 w-md-auto">
                <input type="text" class="search-input | border-secondary border-1 bg-white pd-none py-1 px-5 w-100" name="search" placeholder="請輸入關鍵字">
                <a href="search.html" class="d-block position-absolute top-50 end-0 translate-middle">
                    <span class="material-icons-outlined align-middle text-primary">
                        search
                        </span>
                </a>
            </div>
            <a href="https://www.instagram.com/junlearning/" class="btn btn-outline-primary w-50 w-md-auto px-2 px-md-5">Follow</a>
        </div>
    </div>
</div>
</div>