<!-- <div id="catagory" class="accordion-collapse collapse show" aria-labelledby="catagory" data-bs-parent="#catagoryGroup"> -->
  <!-- 目錄類別標籤 -->
  <div class="catagory-body">
    <div class="container">
      <div class="d-flex justify-content-between mb-2">
        <a href="#" class="d-flex link-secondary">
          主題
          <span class="material-icons-outlined"> arrow_drop_down </span>
        </a>
        <div class="text-secondary d-flex gap-5">
          <div class="d-flex">
            <a href="#" class="d-block link-secondary fs-9">按時間排序</a>
            <span class="fs-9">/</span>
            <a href="#" class="d-block link-secondary fs-9">按熱門排序</a>
          </div>
          <a href="#" class="d-flex link-secondary fs-9">
            <span class="material-icons-outlined me-1 fs-6"> refresh </span>
            重新搜尋
          </a>
        </div>
      </div>
      <div class="catagory-body-content mb-3">
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >職涯思考 (<span>22</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >設計 (<span>23</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >簡報 (<span>2</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >寫作 (<span>22</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >工作術 (<span>22</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >Notion (<span>22</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >學習方法 (<span>22</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >自我成長 (<span>22</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >英文學習 (<span>22</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >商業筆記 (<span>22</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >建築資源 (<span>22</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >建築師考試 (<span>22</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >無處安放的想法 (<span>22</span>)</a
        >
      </div>
      <div class="d-flex justify-content-between mb-2">
        <a href="#" class="d-flex link-secondary">
          <p>內容形式</p>
          <span class="material-icons-outlined"> arrow_drop_down </span>
        </a>
      </div>
      <div class="catagory-body-content mb-3">
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >IG 貼文 (<span>22</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >文章 (<span>23</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >簡報 (<span>2</span>)</a
        >
        <a href="#" class="btn btn-outline-primary btn-catagory"
          >心智圖 (<span>22</span>)</a
        >
        <a
          href="#"
          class="btn btn-outline-primary btn-catagory btn-disabled disabled"
          >工作術 (<span>22</span>)</a
        >
      </div>
    </div>
  </div>
  