.title{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: $black;
}

.subtitle{
    font-weight: 300;
}

.date{
    font-weight: 300;
    
}

.text-content{
    line-height: 1.5;
    font-family: 'TaipeiSansTCBeta','Josefin Sans','Nunito', sans-serif;
    font-size: 1.125rem;
    letter-spacing: 1.5px;

    & >p{
        margin-bottom: 2rem;
    }

    & >a{
        text-decoration: underline;
        color: $info;
    }

    &.highlight{
        background-color: $warning
    }
    &.hover-highlight{
        &:hover{
            background-color: $warning
        }
    }
}