.title{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
    color: $black;
    letter-spacing: 1.5px;
}

.subtitle{
    font-weight: 300;
}

.date{
    font-weight: 300;
    
}

.text-content{
    line-height: 1.5;
    font-family: 'TaipeiSansTCBeta','Josefin Sans','Nunito', sans-serif;
    font-size: 1.125rem;
    letter-spacing: 1.5px;
    color: $gray-800;
    font-weight:300;
    margin-bottom: 3rem;

    &>p{
        margin-bottom: 2rem;
        line-height:1.5;

        &::selection{
            background-color: $warning;
        }
    }
    &>img{
        display:block;
    }

    &-link{
        line-height: 1.5;
        text-decoration: underline;
        color: $info;
    }

    &-link-btn{
        text-decoration: none;
        padding: 0.5rem 1rem;
        display: inline-block;
        border-radius: 20px;
        border: 1px solid $black;
        color: $black;

        &:hover{
            color: $info;
            border: 1px solid $info;
        }
    }

    &-highlight{
        background-color: $warning
    }
    &-hover-highlight{
        &:hover{
            background-color: $warning
        }
    }
    &-h1{
        background: $light;
        color: $black;
        padding: 4px;
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    &-h2{
        font-weight:500;
        font-size: 1.5rem;
        color:$info;
        margin-bottom: 1rem;
    }
    &-h3{
        font-size: 1.25rem;
        color: $info;
        margin-bottom: 1rem;
    }
    &-callout{
        padding: 0.875rem;
        font-size: 2rem;
        line-height: 1.5;
    }
    &-quote{
        color: $primary;
        border-left: 5px solid $primary;
        padding-left: 2rem;
        font-style: italic;
        margin-bottom: 2rem;
        &>p:first-child{
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 0.625rem;
        }

        &>p:last-child{
            font-size: 1rem;
            font-weight: normal;
            text-align: right;
        }
    }
}
.img-fluid{
    margin-bottom: 1rem;
}

.table-content{
    margin-bottom: 0.5rem;

    &>a{
        color: $secondary;
        font-weight: 400;
        display: block;
    }
    &:hover{
        &>a{
            color: $black;
            font-weight: 400;
        }
       
    }

    &.active{
        a{
            color: $info;
            font-weight: 400;
        }
        
    }
    
    &-h1{
        padding-left: 0;
    }
    &-h2{
        padding-left: 1rem;
    }
    &-h3{
        padding-left: 2rem;
    }
    &-h4{
        padding-left: 3.5rem;
    }


}

.text-footer{
    display: flex;
    align-items: center;
    font-weight: 300;
    margin-bottom: 2.25rem;
    &-tags{
        margin-left: 1rem;
        display: flex;
        &>li + li{
            margin-left: 0.5rem;
        }
        &>li>a{
            display: block;
            color: $secondary;
            border: 1px solid $secondary;
            padding: 0.25rem 0.5rem;
            border-radius: 5px;
            font-size: 14px;
            &:hover{
                color: $info;
                border: 1px solid $info;
            }
            &::before{
                content:'#';
                padding-right: 5px;
            }
        }
    }
}

.ig-content{
    &-tag{
        margin-bottom: 1rem;
        &>a{
            color: $info;
            margin-right: 0.25rem;
            &:hover{
                color: $black;
            }
            &::before{
                content:'#';
                margin-right: 1.5px;
            }
        }
    }
}

.ig-text-content{
    &:first-child::before{
        content:'junlearning';
        display: inline-block;
        font-weight: 500;
        margin-right: 12px;
        margin-bottom: 1rem;
    }

    &>p{
        margin-bottom: 1rem;
    }
}