.btn-outline-primary{
    background-color: #fff;
    border-radius: 10rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    white-space: nowrap;
    transition: all .15s;


    &:hover{
        background-color: $primary;
        color: #fff;
    }
}
.logo-title{
    font-size: 1.125rem;
}
.search-input{
    border-radius: 10rem;
    padding-left: 1rem;
    caret-color: $primary;
    font-weight: 400;
    color: $gray-800;
    &::placeholder{
        color: $gray-400;
        font-size: 0.875rem;
    }
}