.catagory-header-container{
    padding-top: 4rem;
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
.catagory-logo-icon{
    width: 76px;
    height: 76px;
}
.catagory-header-icon{
    width: 52px;
    height: 52px;
}

.catagory-header-title{
    font-family: "TaipeiSansTCBeta", sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 1.56rem;
}

.catagory-header-content{
    font-family: "TaipeiSansTCBeta", sans-serif;
    font-weight: normal;
    color: $gray-500;
    font-size: 0.875rem;
}
.catagory-body{
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.catagory-body-content{
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
}

