.btn-icon {
  //from primary orange to white
  filter: invert(74%) sepia(47%) saturate(2533%) hue-rotate(333deg)
    brightness(92%) contrast(90%);
  //generator https://codepen.io/sosuke/pen/Pjoqqp
}
.btn-parent-icon-hover >img {
  transition: filter .25s ease-in;
  
}

.btn-parent-icon-hover:hover > img{
    filter: invert(100%) sepia(97%) saturate(0%) hue-rotate(43deg)
    brightness(105%) contrast(103%);
}
