.logo-title{
    font-size: 1.125rem;
}
.search-input{
    border-radius: 10rem;
    padding-left: 1rem;
    caret-color: $primary;
    font-weight: 400;
    color: $gray-800;
    &::placeholder{
        color: $gray-400;
        font-size: 0.875rem;
    }
}

.icon-rotate-hover{
    transform: rotate(0deg);
    transition: all .3s;
    
    &:hover{
        transform: rotate(180deg);
    }
}

.rotate-0{
    transform: rotate(0deg);
    transition: all .3s;
}

.rotate-180{
    transform: rotate(180deg);
    transition: all .3s;
}
.h-1{
    height: 600px;
}
